<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
            font-family: Geneva, Helvetica, sans-serif;
            padding: 10px 10px;
        }
    .header{
        margin-bottom: 50px;
    }

    .header p{
            color: #424242;
            font-size: 14px;
            text-align: right;
    }
    .header p span{
        float: left;
        font-weight: 700;
    }
    .sa{
        margin-left: -128px;
        }

       </style>
</head>
<body style="margin:0; padding:0;">
    <img src="http://127.0.0.1:8000/static/portal/header.png" width="1000px" height="auto">
    <div class="header">
    	<p>Guwahati - 781039, India<br>Phone: +91-361-2583000<br>+91-361-2583000<br><span>Assistant Registrar</span>Fax: +91-361-2690762<br><span class="sa">Students' Affairs</span>E-mail: hossa@iitg.ernet.in</p>
    </div>
</body>
</html>