<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Search | Verification Portal</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <meta name="viewport" content="width=device-width" />
    <!--<script src="{% static 'portal/jquery-2.0.0.min.js' %}"></script>-->
    <script src="{% static 'portal/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
     <script src="{% static 'portal/ajax.js' %}"></script>

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'portal/bootstrap.min.css' %}" rel="stylesheet" />
    
    <link href="{% static 'portal/material-dashboard.css' %}" rel="stylesheet" />
    
    
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="{% static 'portal/search.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{% static 'portal/sidebar-1.jpg' %}">
            <div class="logo">
                <img src="{% static 'portal/iitg no bg.png' %}" class="img-responsive center-block">
                <a href="{% url 'portal:pending' %}" class="simple-text">
                     Verification Portal
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{% url 'portal:pending' %}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'portal:search_event_page' %}">
                            <i class="material-icons">search</i>
                            <p>Search</p>
                        </a>
                    </li>
                    {% if user3 != "" %}
                    <li>
                        <a href="{% url 'portal:create_team_page' %}">
                            <i class="material-icons">create</i>
                            <p>Create</p>
                        </a>
                    </li>
                    {% endif %}
                     {% if webmail not in web %}
                     <li>
                        <a href="{% url 'portal:profile' %}">
                            <i class="material-icons">person</i>
                            <p>Profile</p>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'portal:help' %}">
                            <i class="material-icons">help</i>
                            <p>Help</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="{% url 'portal:logout' %}">
                            <i class="material-icons">settings_power</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Search </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <h4 class="nav navbar-nav navbar-right">Welcome, <strong><span class="mkv_user">{{ user.profile.username }}</span>!</strong></h4>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid" id="information">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">How to use?</h4>
                                </div>
                                <div class="card-content">
                                    <ul>
                                        <li>Search for the <strong>Team</strong> you wish to apply in.</li>
                                        <li>You can search by <strong>Team name</strong>.</li>
                                        <li>After finding your Team, click on <strong>Apply</strong>.</li>
                                        <li>Fill in the <strong>Post</strong> you want to apply for.</li>
                                        <li>Double check the Team details you are applying in and click on <strong>Submit</strong>.</li>
                                        <li>You can track the progress of your requests in the <strong>Pending</strong> tab of your <strong>Dashboard</strong>.</li>
                                    </ul>
                                </div>
                            </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                         <div class="col-md-4">
                                <div class="form-group label-floating select-with-placeholder">
                                    <label for="sel1" class="control-label">Filter your search...</label>
                                    <select class="form-control" name="filter1" id="filter1" required>
                                        <option value="All">All</option>
                                        <option value="Team">Team</option>
                                        <option value="Profile">Profiles</option>

                                    </select>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group label-floating select-with-placeholder">
                                    <label for="sel1" class="control-label">Under the aegis of</label>
                                    <select class="form-control" name="filter2" id="filter2" required>
                                        <option >All</option>
                                        <option>Campus Broadcasting System</option>
                                        <option>Centre for Career Development</option>
                                        <option>Cultural Board</option>
                                        <option value="dept_body">Departmental Bodies</option>
                                        <option>Hostel Affairs Board</option>
                                        <option value="hostel_team">Hostel Teams</option>
                                        <option>Sports Board</option>
                                        <option>Student Academic Board</option>
                                        <option>Student Alumni Interaction Linkage</option>
                                        <option>Student Web Committee</option>
                                        <option>Technical Board</option>
                                        <option>Welfare Board</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-4" id="hostel" style="display: none">
                            <div class="form-group label-floating select-with-placeholder">
                                <label for="sel1" class="control-label">Hostel</label>
                                <select class="form-control" name="hostels" id="hostels">
                                    <option>All</option>
                                    <option>Barak</option>
                                    <option>Brahmaputra</option>
                                    <option>Dhansiri</option>
                                    <option>Dibang</option>
                                    <option>Dihing</option>
                                    <option>Kameng</option>
                                    <option>Kapili</option>
                                    <option>Lohit</option>
                                    <option>Manas</option>
                                    <option>Married Scholars Hostel</option>
                                    <option>Siang</option>
                                    <option>Subansiri</option>
                                    <option>Umiam</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" id="deptbody" style="display: none">
                            <div class="form-group label-floating select-with-placeholder">
                                <label for="sel1" class="control-label">Body</label>
                                <select class="form-control" name="bodies" id="bodies">
                                    <option>All</option>
                                    <option>ACE</option>
                                    <option>Cepstrum</option>
                                    <option>CSEA</option>
                                    <option>Matrix</option>
                                    <option>MESA</option>
                                    <option>Reflux</option>
                                </select>
                            </div>
                        </div>
                </div>
                </div>
                <div class="container-fluid">
                     {% csrf_token %}
                    <div class="input-group" id="search">

                        <input type="text" class="form-control" placeholder="Search for a team..."  id="search_team" name="search">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit">
                            <i class="material-icons">search</i>
                          </button>
                        </div>
                    </div>


                        <div  id="search-results">
                        </div>

                    </div>
                </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        Developed by <a href="https://www.facebook.com/mukul.verma.3745">Mukul Verma</a> and <a href="https://www.facebook.com/sarvesh83">Sarvesh Raj</a>

                    </p>
                </div>
            </footer>
            </div>


        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'portal/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'portal/bootstrap.min.js' %}" type="text/javascript"></script>
 <!--<script src="{% static 'portal/jquery-2.0.0.min.js' %}"></script>-->
<script src="{% static 'portal/material.min.js' %}" type="text/javascript"></script>

<!--  PerfectScrollbar Library -->
<script src="{% static 'portal/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'portal/bootstrap-notify.js' %}"></script>

<script src="{% static 'portal/material-dashboard.js' %}"></script>
<!--<script src="{% static 'portal/material-dashboard.js' %}"></script>-->
<script type="text/javascript">
	$('#filter2').on('change',function(){
     var selection = $(this).val();
    switch(selection){
    case "dept_body":
    $("#deptbody").show()
    $("#hostel").hide()
   	break;
   	case "hostel_team":
    $("#hostel").show()
    $("#deptbody").hide()
   	break;
    default:
    $("#hostel").hide()
    $("#deptbody").hide()

    }
});
</script>
</html>