#search .form-control{
	background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(white, white) !important;
	background-color: white !important;
	background-position: center bottom, center calc(100%) !important;
	padding: 10px;
	height: 42.4px !important;
	width: 100% !important;
}
#search .form-group.is-focused .form-control{
	background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(white, white) !important;
}
#search .form-group{
	margin-top: 0;
	padding-bottom: 0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
#search{
	margin-bottom: 40px;
}
.uta_logo{
    width: 85px !important;
    height: auto;
}
.card-stats > .card-header{
    padding: 0;
}
.card-footer{
    color: #9e9e9e;
}
.category{
    color: #616161 !important;
}
.card .card-footer div{
	display: block;
}
.collapse{
	height: 83px;
}
.card-footer .col-xs-2, .card-footer .col-xs-9, .card-footer .col-xs-1, .card-footer .col-xs-12{
    padding: 0;
}
.input-group-btn{
	padding: 0 !important;
}